<% 1.upto 3 do |i| %>
  <a href="/test/test_global/<%= i -%>">Page <%= i -%></a> |
<% end %>

<p>This is page <%= params[:id] -%></p>
<script>
  $(function() {
    LiveClient.live_global(<%= params[:id] -%>);
  });
</script>